<!DOCTYPE hibernate-configuration PUBLIC
        "-//Hibernate/Hibernate Configuration DTD//EN"
        "http://www.hibernate.org/dtd/hibernate-configuration-3.0.dtd">
<hibernate-configuration>
    <session-factory>
        <property name="connection.url">jdbc:sqlite:koniky.db</property>
        <property name="connection.driver_class">org.sqlite.JDBC</property>
        <property name="hibernate.dialect">org.hibernate.dialect.SQLiteDialect</property>
        <property name="hibernate.show_sql">false</property>
        <property name="hibernate.use_sql_comments">false</property>
        <property name="hibernate.generate_statistics">false</property>
        <property name="hibernate.connection.autocommit">false</property>
        <property name="hbm2ddl.auto">update</property>
        <mapping class="sk.zrebec.learn.java.hibernate.Horse"/>
    </session-factory>
</hibernate-configuration>
